<?xml version='1.0' encoding='utf-8'?>
<plugin id="sict-base-tools" version="1.0.00.0" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>baseTools</name>
  <js-module name="baseTools" src="www/baseTools.js">
    <clobbers target="cordova.plugins.baseTools" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="baseTools">
        <param name="android-package" value="cn.sict.cordova.baseTools" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/baseTools.java" target-dir="src/cn/sict/cordova" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="baseTools">
        <param name="ios-package" value="baseTools" />
      </feature>
    </config-file>
    <source-file src="src/ios/baseTools.m" />
  </platform>
</plugin>